.product {
    padding: 2%;
    margin: 5%;
    width: 100%;
    height:300px;

    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid red;
}

.product > * {
    height: 80%;
    margin: 5%;
    border: 2px solid purple;
}

.product > div > * {
    margin: 20px;
}
.productImg {
    margin:0;
    height: 100%;
    border: 1px solid black;
}