.header {
    height: 100px;
    background: black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    color: white;
}

.header h1 {
    font-size: 34px;
    font-weight: 500;
    margin: 10%;
    font-family: 'Open Sans', sans-serif;
}